.reveal section i {
  font-family: 'FontAwesome';
  font-style: normal;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal h2, .reveal h3 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.reveal .MathJax_Display {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

ul.unstyled li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a.ref:before {
  font-family: 'FontAwesome';
  content: '\f0f6';
  margin-right: 0.5ex;
}

.reveal sub {
  font-size: 0.8em;
}

.slide-img img {
  width: 90%;
}

.reveal table {
  border-collapse: collapse;
  margin: 0px auto;
}

.reveal table td {
  padding: 0.5em;
  text-align: center;
  border-bottom: solid 1px #657b83;
  vertical-align: middle;
}

.reveal table td:first-child {
  text-align: left;
}

/* Specific slides */

#title h1 {
  font-size: 7em;
}

#magnetomech-setup {
  height: 300px;
}

#magnetomech-ball {
  position: relative;
  top: -330px;
  height: 300px;
  animation: oscillate;
  -webkit-animation: oscillate 0.2s ease-in-out 0s infinite alternate;
     -moz-animation: oscillate 0.2s ease-in-out 0s infinite alternate;
          animation: oscillate 0.2s ease-in-out 0s infinite alternate;
}

@-moz-keyframes oscillate {
  from { transform: translateX(0px); }
  to   { transform: translateX(-10px); }
}
@-webkit-keyframes oscillate {
  from { transform: translateX(0px); }
  to   { transform: translateX(-10px); }
}
@keyframes oscillate {
  from { transform: translateX(0px); }
  to   { transform: translateX(-10px); }
}

#nsit0T h2 {
  margin-bottom: 0;
}

#nsit0T img {
  width: 80%;
}
